<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>채팅창</title>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/sockjs.js"></script>
	<script src="/js/gameRoomChatWebSocket.js"></script>
</head>
<body>
	<div th:insert="gameBoard.html :: gameBoard"></div>
	
	<h3>채팅창</h3>
	<div style="width: 800px; height: 700px; padding: 10px; border: solid 1px #e1e3e9;">
		<div id="divChatData"></div>
	</div>
	<div style="width: 100%; height: 10%; padding: 10px;">
		<input type="text" id="message" size="100" onkeypress="if(event.keyCode==13){webSocket.sendChat();}" />
		<button id="btnSend" onclick="webSocket.sendChat()">전송</button>
	</div>
</body>
</html>