<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유 게시판</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/ckeditor/ckeditor.js"></script>
<script src="/js/messageBoardWrite.js"></script>
</head>
<body>
	<div>
		<div>
			<label for="title">제목</label>
			<input id="title" name="title" type="text" placeholder="제목">
		</div>
		<textarea id="contents" name="contents" rows="20" cols="100" placeholder="내용"></textarea>
		<button id="write">제출</button>
	</div>
	<!--
    목록 최신순
    기본 10개 노출
    게시글 10개 이하일 때, 더보기 비노출
    더보기시 추가 10개 호출(없으면 잇는데로)
-->
	<ul id="messageBoardList">
		<li th:each="boardList : ${messageBoardList}">
			<div>
				<span>제목</span> <span th:text="${boardList.title}"></span>
			</div>
			<div>
				<span>작성자</span> <span th:text="${boardList.userID}"></span>
			</div>
			<div>
				<span>시간(작성/갱신)</span> 
				<span th:if="${#strings.toString(boardList.writeDate)}==${#strings.toString(boardList.modifiyDate)}" th:text="${boardList.writeDate}"></span>
				<span th:unless="${#strings.toString(boardList.writeDate)}==${#strings.toString(boardList.modifiyDate)}" th:text="${boardList.modifiyDate}"></span>
			</div>
			<div>
				<span>본문</span> <span th:text="${boardList.content}"></span>
			</div>
		</li>

	</ul>
	<button id="moreBtn">더보기</button>

</body>
</html>