<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>자유 게시판</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/js/messageBoard.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="layout">
		<div th:replace="/common/header :: headerFragment"></div>
		
		<section class="board">
            <div class="write">
                <div class="editor">
                    <textarea id="contents" name="" cols="30" rows="10" placeholder="내용"></textarea>
                </div>
                <div class="btn-group right">
                    <button class="btn btn_write" id="write">글쓰기</button>
                </div>
            </div>
            <div class="list">
				<ul id="messageBoardList">
					<li class="post" th:each="boardList : ${messageBoardList}">
						<div class="post-info">
							<span th:text="${boardList.userID}"></span>
							<div class="time">
								<span th:if="${#strings.toString(boardList.writeDate)}==${#strings.toString(boardList.modifiyDate)}" th:text="${boardList.writeDate}"></span>
								<span th:unless="${#strings.toString(boardList.writeDate)}==${#strings.toString(boardList.modifiyDate)}" th:text="${boardList.modifiyDate}"></span>
							</div>
						</div>
						 <div class="post-body">
							 <div class="ckeditor-content">
                                <div class="ckeditor-content">
									<span class="ck-content" th:id="cotent+${boardList.idx}" th:text="${boardList.content}"></span>
								</div>
								<div class="write" style="display: none;">
	                                <div class="editor">
	                                    <textarea name="" id="" cols="30" rows="10"></textarea>
	                                </div>
	                                <div class="btn-group right">
	                                    <button class="btn btn_write">수정</button>
	                                    <button class="btn btn_cancel" onclick="btnPostModifyCancel('1')">취소</button>
	                                </div>
	                            </div>
							</div>
						</div>
						<div class="post-btns">
							<div class="btn-group left" th:if="${session.loginMember.userID}==${boardList.userID}">
								<button class="btn" th:onclick="modifiyBoard([[${boardList.idx}]])">수정</button>
								<button class="btn" th:onclick="deleteBoard([[${boardList.idx}]])">삭제</button>
								<button class="btn" th:id="btnReplyComment+${boardList.idx}" th:onclick="replyComment([[${boardList.idx}]])">덧글쓰기</button>
								<button class="btn" th:id="btnReplyCommentCancel+${boardList.idx}" th:onclick="replyCommentCancel([[${boardList.idx}]])" style="display: none;">덧글취소</button>
							</div>
							<div class="btn-group right" th:unless="${session.loginMember. userID}==${boardList.userID}">
								<button class="btn" th:id="btnReplyComment+${boardList.idx}" th:onclick="replyComment([[${boardList.idx}]])">덧글쓰기</button>
								<button class="btn" th:id="btnReplyCommentCancel+${boardList.idx}" th:onclick="replyCommentCancel([[${boardList.idx}]])" style="display: none;">덧글취소</button>
							</div>
						</div>
						<div class="reply-write" th:id="reply+${boardList.idx}" style="display: none;">
							<div class="editor" th:id="commentEditor+${boardList.idx}">
								<textarea  th:id="comment+${boardList.idx}" name="" cols="30" rows="10"></textarea>
							</div>
							<div class="btn-group right">
								<button class="btn small btn_write" th:onclick="commentWrite([[${boardList.idx}]])">글쓰기</button>
							</div>
						</div>
						<ul class="reply-list">
							<li class="reply" th:each="boardCommentList : ${messageBoardCommentList}" th:if="${boardList.idx}==${boardCommentList.messageBoardIdx}">
								<div class="reply-info">
									<span>작성자 </span><span th:text="${boardCommentList.userID}"></span>
									<div class="time">
										<span>작성</span>
										<!-- <span>수정</span>  -->
										<span th:if="${#strings.toString(boardCommentList.writeDate)}==${#strings.toString(boardCommentList.modifiyDate)}" th:text="${boardCommentList.writeDate}"></span>
										<span th:unless="${#strings.toString(boardCommentList.writeDate)}==${#strings.toString(boardCommentList.modifiyDate)}" th:text="${boardCommentList.modifiyDate}"></span>
									</div>
								</div>
								<div class="reply-body">
									<span>내용</span><span th:text="${boardCommentList.comment}"></span>
								</div>
								<div class="reply-btns">
									<div class="btn-group left" th:if="${session.loginMember.userID}==${boardCommnetList.userID}"> 
										<button class="btn small">수정</button>
										<button class="btn small">삭제</button>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<button id="moreBtn">더보기</button>
		</section>
		<div th:replace="/common/footer :: footerFragment"></div>
	</div>
</body>
</html>