<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/gameRoomWSK.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript">
		function join(bangID) {
			var href = "/webSocket?bang_id=" + bangID;
			location.href = href;
		}
	</script>
</head>
<body>
	<div class="layout">
		<div th:replace="/common/header :: headerFragment"></div>
		<section>
			<h1>대기실</h1>
			<div class="btn-group right">
				<button class="btn btnCreateRoom">방 만들기</button>
			</div>
			<div class="waiting" >
				<!-- 방이 있는 경우 -->
				<ul >
					<li th:if="${!roomList.empty}" th:each="room, count : ${roomList}">
						<span th:text="${room}"></span>
						<button th:onclick="|javascript:join('${count.count}')|" th:value="${count.count}">입장</button>
					</li>
				</ul>
				<!-- // 방이 있는 경우 -->
				<!-- 방이 없는 경우 -->
				<div th:unless="${!roomList.empty}" class="empty-room">
					생성된 방이 없어요 ╮(╯▽╰)╭
					<div class="btn-group">
						<button class="btn btnCreateRoom">방 만들기</button>
					</div>
				</div>
	        	<!-- // 방이 없는 경우 -->
				</div>
				<div class="dialog-dimm">
	                <div class="dialog-wrap">
	                    <div class="dialog-area">
	                        <header>
	                            방 만들기
	                            <button class="btn_close"><span>닫기</span></button>
	                        </header>
	                        <div class="dialog-body">
	                            <label for="gameRoomName">방 제목</label>
	                            <input id="gameRoomName" type="text" />
	                            <span class="gameRoomName-msg"></span>
	                            <div class="btn-group">
	                                <button class="btn btnCreateRoomSubmit">방 만들기</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
			</section>
		<div th:replace="/common/footer :: footerFragment"></div>
	</div>
</body>
</html>