<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/gameRoomWSK.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<script type="text/javascript">
		function join(bangID) {
			var href = "/webSocket?bang_id=" + bangID;
			location.href = href;
		}
	</script>
</head>
<body>
	<div class="layout">
		<div th:replace="/common/header :: headerFragment"></div>
		<form action="gameRoomCreate" method="post">
			방이름<input type="text" name="gameRoomName">
			<button type="submit">만들기</button>
		</form>
		<section>
			<h1>대기실</h1>
			<div class="btn-group right">
				<button class="btn">방 만들기</button>
			</div>
			<div class="waiting" >
				<!-- 방이 있는 경우 -->
				<ul >
					<li th:if="${!roomList.empty}" th:each="room, count : ${roomList}">
						<span th:text="${room}"></span>
						<button th:onclick="|javascript:join('${count.count}')|" th:value="${count.count}">입장</button>
					</li>
				</ul>
				<!-- // 방이 있는 경우 -->
				<!-- 방이 없는 경우 -->
				<div th:unless="${!roomList.empty}" class="empty-room">
					생성된 방이 없어요 ╮(╯▽╰)╭
					<div class="btn-group">
						<button class="btn">방 만들기</button>
					</div>
				</div>
	        	<!-- // 방이 없는 경우 -->
			</div>
		</section>
		<div th:replace="/common/footer :: footerFragment"></div>
	</div>
</body>
</html>