<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yahtzee.dao.InquiryBoardCommentDAO">
	
	<!-- 신규 답글 -->
	<insert id="insertInquiryBoard" parameterType="com.project.yahtzee.vo.InquiryBoardCommentVO">
		insert into
		inquiryboardcomment(boardIdx, comment, writeDate)
		values (#{boardIdx}, #{comment}, #{writeDate})
	</insert>

	<!-- 답글 업데이트 -->
	<update id="updateInquiryBoard" parameterType="com.project.yahtzee.vo.InquiryBoardCommentVO">
		update inquiryboardcomment
		set content=#{content}, modifiyDate=#{modifiyDate} 
		where idx = #{idx} and userID = #{userID}
	</update>
	
	<!-- 답글 삭제 -->
	<delete id="deleteInquiryBoard" parameterType="int">
		delete from inquiryboardcomment where idx=#{idx}
	</delete>
		
	<!-- 답글 상세 -->
	<select id="viewInquiry" parameterType="int" resultType="com.project.yahtzee.vo.InquiryBoardCommentVO">
		select * 
		from inquiryboardcomment
		where idx=#{idx}
	</select>
</mapper>