<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yahtzee.dao.MessageBoardDAO">
	
	<!-- 신규 게시글 -->
	<insert id="insertMessageBoard" parameterType="com.project.yahtzee.vo.MessageBoardVO">
		insert into
		messageboard(userID, content, writeDate,modifiyDate)
		values (#{userID}, #{content}, #{writeDate},#{writeDate})
	</insert>
	
	<!-- 게시글 10개 리스트 출력 -->
	<select id="findListPaging" parameterType="int" resultType="com.project.yahtzee.vo.MessageBoardVO">
		select * 
		from messageboard
		where state = 0
		order by idx desc, writeDate desc
		limit #{startIndex},#{pageSize};
	</select>

	<!-- 게시글 총개수 -->
	<select id="messageBoardCount" resultType="int">
		select count(*)
		from messageboard
		where state = 0
	</select>

	<!-- 게시글 업데이트 -->
	<update id="updateMessageBoard" parameterType="com.project.yahtzee.vo.MessageBoardVO">
		update messageboard
		set content=#{content}, modifiyDate=#{modifiyDate} 
		where idx = #{idx} and userID = #{userID}
	</update>
	
	<delete id="deleteMessageBoard" parameterType="int">
		delete from messageboard where idx = #{idx}
		
	</delete>
	
</mapper>